<!--
<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>
-->
<ion-content has-bouncing="false">
  <div class="body" id="container">
    <div id="mainDiv" style="width: 100%; height: 100%; position:absolute">
      <img class="img-objet" id="object"
           [src]="'assets/img/img-eclatement/' + objectImg$"
           *ngIf="!started$"/>
    </div>

    <article id="masquer-info-outils" class="info-outils" *ngIf="infoOutils$">
      {{ outilsText$ }}
    </article>

    <ul class="outils" id="outils1" *ngIf="outils1$">
      <button type="button" (click)="tool$ = 3">
        <span id="info-outils-un"
              (click)="outilsText$ = 'Ceci est votre pinceau virtuel'" >
        </span>
      </button> <!--brosse-->
      <button type="button" (click)="tool$ = 0">
        <span id="info-outils-deux"
              (click)="outilsText$ = 'Après avoir repassé, secouez la tablette'" >
        </span>
      </button> <!--orientation -->
      <button type="button" (click)="tool$ = 1">
        <span id="info-outils-trois"
              (click)="outilsText$ = 'Repassez et laissez le bruit agir'" >
        </span>
      </button> <!--son-->
      <button type="button" (click)="tool$ = 2">
        <span id="info-outils-quatre"
              (click)='outilsText$ = "Maintenez la pression du doigt sur l&#39;écran"' >
        </span>
      </button> <!--souffle-->
      <button type="button" (click)="masquer$ = true"><span (click)="infoOutils$ = false"><img src="assets/img/outils/validation.png" /></span></button> <!--validation -->
      <button type="button" (click)="back$()"><img src="assets/img/outils/retour-arriere.png" /></button> <!--annuler -->
      <button type="button"><a (click)="goRoot$()"><img src="assets/img/outils/home.png" /></a></button> <!--home -->
    </ul>

    <ul class="outils" id="outils2" *ngIf="outils2$">
      <button type="button" (click)="tool$ = 3">
        <span id="info-outils-un"
              (click)="outilsText$ = 'Ceci est votre pinceau virtuel'" >
        </span>
      </button> <!--brosse-->
      <button type="button" (click)="tool$ = 0">
        <span id="info-outils-deux"
              (click)="outilsText$ = 'Après avoir repassé, secouez la tablette'" >
        </span>
      </button> <!--orientation -->
      <button type="button" (click)="tool$ = 1">
        <span id="info-outils-trois"
              (click)="outilsText$ = 'Repassez et laissez le bruit agir'" >
        </span>
      </button> <!--son-->
      <button type="button" (click)="tool$ = 2">
        <span id="info-outils-quatre"
              (click)='outilsText$ = "Maintenez la pression du doigt sur l&#39;écran"' >
        </span>
      </button> <!--souffle-->
      <button type="button" (click)="masquer$ = true"><span (click)="infoOutils$ = false"><img src="assets/img/outils/validation.png" /></span></button> <!--validation -->
      <button type="button" (click)="back$()"><img src="assets/img/outils/retour-arriere.png" /></button> <!--annuler -->
      <button type="button"><a (click)="goRoot$()"><img src="assets/img/outils/home.png" /></a></button> <!--home -->
    </ul>

    <article id="article" *ngIf="article$">
      <span (click)="article$ = false">
        <span (click)="outils2$ = true; outils1$ = false">
          <h3>règles du jeu</h3>
          <p>Repassez les contours sans les relier </p>
          <p>à l’aide des <span class="outils-numerique green">outils numeriques.</span></p>
          <p>Ils produisent tous un effet différent,</p>
          <p>à vous de les découvrir !</p>
          <p>Valider quand vous le voulez. </p>
          <div id="A-VOUS" (click)="start$()">à vous de jouer</div>
        </span>
      </span>
    </article>

    <article id="masquer" *ngIf="masquer$">
      <span>
        <h3>Félicitations ! </h3>
        <p>Vous avez réalisé des masses, textures </p>
        <p>et couleurs, en oubliant le contour </p>
        <p>de cet objet au profit d'une forme pleine. </p>
        <p> Cette démarche est proche de celle </p>
        <p>de Laureline Galliot. </p>
        <div id="A-VOUS" (click)="outils2$ = false; galerie$ = true; masquer$ = false; assemble$(this)">voir le rendu</div>
      </span>
    </article>

    <div id="lien-galerie" *ngIf="galerie$">
      <h6><a [navPush]="galeriePage"> Venez visiter la galerie !</a></h6>
      <button type="button"><a (click)="goRoot$()"><img src="assets/img/outils/home.png" /></a></button> <!--home -->
    </div>
  </div>
</ion-content>
